@import "tailwindcss";

@theme {
  --font-Lato: "Lato", sans-serif ;
  --color-BlackTextColor: #1B1B1B;
  --color-BodyText: #7B7B7B;
  --color-Primary01: #06C279;
  --color-BackgroundColor01: #EEFFF9;
}
